<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.icefire.update">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>

        <provider
            android:authorities="${applicationId}.updatefileprovider"
            android:name="me.icefire.update.provider.UpdateFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_cache_path"/>
        </provider>
    </application>
</manifest>
